@use 'variaveis';
@use 'hero'; //PODE PASSAR SEM .SCSS E _, POIS O SASS MESMO RESOLVE
@use 'shows';
@use 'plans';

//PARA CRIAR UMA FONTE QUE NÃO EXISTE NO GOOGLE FONTS (E PRECISA BAIXAR) SE USA:
@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    // SOBRESCREVE A PROPRIEDADE COLOR
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text{
    @include text();
}

.text--small {
    @include text(12px);
}

.title--big{
    @include title(44px);
}

.title{
    @include title();
}

.title--small{
    @include title(28px);
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor: pointer;
}
